8 - LEFT
9 - RIGHT

22	-	LEFT
23	-	RIGHT

27	-	RETURN
37	-	RETURN

31	-	UP
28	-	DOWN
30	-	LEFT
32	-	RIGHT

41	-	UP
38	-	DOWN
40	-	LEFT
42	-	RIGHT

A0	-	LEFT | RIGHT
A1	-	UP | DOWN

A2	-	LEFT | RIGHT
A3	-	UP | DOWN